<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.username}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Lokacija:</strong>
                    <p>{{member.city}}, {{member.country}}</p>
                </div>
                <div>
                    <strong>Clan od:</strong>
                    <p>{{member.created | date: "mediumDate"}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Lajkuj</button>
                    <button class="btn btn-success">Poruka</button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='O {{member.username}}'>
                <h4>opis</h4>
                <p>{{member.description}}</p>
            </tab>
            <tab heading='Interesovanja'>
                <h4>Interesovanja</h4>
                <p>{{member.interests}}</p>
            </tab>
            <tab heading='Fotografije'>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages"
                    style="display: inline-block; margin-bottom: 20px;">
                </ngx-gallery>
            </tab>
            <tab heading='Poruke'>
                <app-member-messages [username]="member.username"></app-member-messages>
            </tab>
        </tabset>
    </div>
</div>