<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off" class="mt-3">
    <h2 class="text-center text-primary">Sign up</h2>
    <hr>

    <div class="form-group">
        <input type="text" class="form-control m-2" name="username" [(ngModel)]="model.username" placeholder="Username">
        <input type="password" class="form-control m-2" name="password" [(ngModel)]="model.password"
            placeholder=" Password">
    </div>

    <div class="form-group text-center">
        <button class="btn btn-success m-2" type="submit">NAPRAVI NALOG</button>
        <button class="btn btn-danger m-2" (click)="cancel()" type="button">VRATI SE NAZAD</button>
        <h4 class="m-3">Ne zaboravi da azuriras svoj nalog po registraciji! 😃 </h4>
    </div>

</form>